@import "tailwindcss";

img,
svg {
  user-select: none;
}

button {
  cursor: pointer;
}

.slider {
  width: 100%;
  height: 5px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  appearance: none;
  background: linear-gradient(to right, #a9a9a9 var(--value, 0%), white 0);
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #c0c0c0;
  border-radius: 100%;
  cursor: pointer;
}
